@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}

body {
    background: repeating-conic-gradient(#5fd9e2 0%, #5edb5a 15%, #5fd9e2 33%);
    height: 100dvh;
    width: 100dvw;
}

.home-page{
    display:flex;
    flex-direction: column;
}

.travel-intro{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color:rgb(68, 68, 68);
    margin: 10px;
    padding: 10px;
}

img{
    margin: 20px;
    border-radius: 20px;
}

/* Styling */
/* Media queries go in globals.css
Use Css for specific components
Use tailwind for bespoke element styling
If you use modules, store together with component, or in separate styles folder. */