.delBtn{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: #4d4d4d;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding:10px;
    font-size: medium;
}

.delBtnContainer{
    display: flex;
    justify-content: center;
}